﻿@model WebAppCore.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodcliNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodcliNavigation.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodproNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodproNavigation.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Codped">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
