﻿@model IEnumerable<WebAppCore.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qtde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodcliNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodproNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodcliNavigation.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodproNavigation.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codped">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codped">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codped">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
