﻿
@{
    ViewBag.Title = "Página Inicial";
}

<div class="bg-success">
    <br/>
    <p class="lead">Através desta página será possível você cadastrar seus Clientes, Produtos e Pedidos.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>*@
        <p>
            @Html.ActionLink("Cadastro de Clientes", "Index", "Clientes", null, new { @class = "btn btn-primary btn-lg" })
        </p>

        <p>
            @Html.ActionLink("Cadastro de Produtos", "Index", "Produtos", null, new { @class = "btn btn-warning btn-lg" })
        </p>

        <p>
            @Html.ActionLink("Cadastro de Pedidos", "Index", "Pedidos", null, new { @class = "btn btn-success btn-lg" })
        </p>
    </div>

</div>



