﻿@model WebApplication1.Models.Produto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Cadastro do Produto</h2>

<div>
    @*<h4>Produto</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoID }) |
    @Html.ActionLink("Voltar aos Produtos Cadastrados", "Index")
</p>
