﻿@model IEnumerable<WebApplication1.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Produtos</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ProdutoID })
        </td>
    </tr>
}

</table>
