﻿@model WebApplication1.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

@*<h2>Apagar Registro</h2>*@

<h2>Deseja deletar este registro?</h2>
<div>
    @*<h4>Pedido</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteIDNavigation.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteIDNavigation.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoIDNavigation.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoIDNavigation.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar aos Pedidos Cadastrados", "Index")
        </div>
    }
</div>
