﻿@model WebApplication1.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Pedido</h2>

<div>
    @*<h4>Pedido</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteIDNavigation.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteIDNavigation.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoIDNavigation.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoIDNavigation.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PedidoID }) |
    @Html.ActionLink("Voltar aos Pedidos Cadastrados", "Index")
</p>
