﻿@model IEnumerable<WebApplication1.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastre Seu Pedido</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteIDNavigation.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoIDNavigation.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteIDNavigation.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoIDNavigation.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PedidoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PedidoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.PedidoID })
        </td>
    </tr>
}

</table>
