﻿@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

@*<h2>Apagar Registro</h2>*@

<h2>Deseja deletar este registro?</h2>
<div>
    @*<h4>Cliente</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar aos Itens Cadastrados", "Index")
        </div>
    }
</div>

