﻿@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Cadastro do Cliente</h2>

<div>
   @* <h4>Cliente</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteID }) |
    @Html.ActionLink("Voltar aos Itens Cadastrados", "Index")
</p>
