﻿@model IEnumerable<WebApplication1.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Clientes</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ClienteID }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.ClienteID }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.ClienteID })
        </td>
      
    </tr>
}

</table>
