﻿@model IEnumerable<WebApplication1.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Codigo }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Codigo }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Codigo })
        </td>
    </tr>
}

</table>
